<div class="card p-2" >
    <div class="card-body">
        <div class="row my-3">
            <div class="col-12 col-md-6 mb-3">
                <label>Nombre completo</label>
                <input type="text" class="p-inputtext-sm" placeholder="Tipo Documento" pInputText />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label>Número de documento</label>
                <input type="text" class="p-inputtext-sm" placeholder="Numero Documento" pInputText />
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <label>Correo electrónico</label>
                <input type="text" class="p-inputtext-sm" placeholder="Correo" pInputText />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label>Empresa de transporte</label>
                <input type="text" class="p-inputtext-sm" placeholder="Correo" pInputText />
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <label>Ruc</label>
                <input type="text" class="p-inputtext-sm" placeholder="Correo" pInputText />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label>Placa de vehículo</label>
                <input type="text" class="p-inputtext-sm" placeholder="Correo" pInputText />
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <label>Motivo de queta</label>
                <p-dropdown
                    [options]="motivoQueja"
                    [(ngModel)]="selectedMotivo"
                    optionLabel="label">
                </p-dropdown>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label>Detalle de la queja</label>
                <textarea rows="5" cols="30" class="w-100" pInputTextarea></textarea>
            </div>
        </div>

        <div class="d-flex justify-content-center mb-3 mt-3">
            <button class="btn btn-info me-2" type="button">
                <i class="bi bi-paperclip"></i> Adjuntar
            </button>
            <button class="btn btn-primary me-2" type="button">
                <i class="bi bi-send"></i> Enviar
            </button>
        </div>
    </div>
</div>

<!-- <div class="card p-2" >
    <div class="card-body">
        <div class="row my-3">
            <div class="col-12 col-md-6 mb-3">
                <label>Empresa de transporte</label>
                <input type="text" class="p-inputtext-sm" placeholder="Tipo Documento" pInputText />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label>Correo electronico</label>
                <input type="text" class="p-inputtext-sm" placeholder="Numero Documento" pInputText />
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <label>Asunto</label>
                <textarea rows="5" cols="30" class="w-100" pInputTextarea></textarea>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label>Celular</label>
                <input type="text" class="p-inputtext-sm" placeholder="Correo" pInputText />
            </div>
        </div>
        <div class="d-flex justify-content-end mb-3 mt-3">
            <button class="btn btn-primary me-2" type="button">
                <i class="pi pi-save"></i>
                Guardar</button>
        </div>
    </div>
</div> -->