@import "variables";
.aside ul { 
    padding: 0;
    margin: 0;
    width: 100%;
}
.aside ul li {
    list-style: none;
    padding: 0.7rem 1.5rem;
    color: $color-text-sidebar;
    font-size: 14px;
}
.aside ul li:hover { 
    background: #004c970f;
}

.aside ul li i { 
    color: $info;
}

.aside ul li.active {
    font-weight: bold;
}

.p-sidebar .p-sidebar-content {
    padding: 0 !important;
}

.p-sidebar-left {
    width: 15rem !important;
}

.side-bar .p-sidebar-footer  {
    display: none;
}

// .p-panelmenu .p-panelmenu-header > a {
//     padding: 0.5rem;
//     background: white;
//     border: 0;
// }