.img-rounded img {
    border-radius: 50%;
}

input, .p-dropdown {
    width: 100%;
}

.p-button.p-button-secondary {
    background: #7b7b7b;
}

label {
    font-weight: 600;
    margin-bottom: 2px;
}
