@import "_variables";
.c-pointer {
    cursor: pointer;
}
.fw-bold {
    font-weight: 600;
}
.bg-white {
    background: white !important;
}


.bg-gray-1 {
    background: #373a36 !important;
}

.bg-gray {
    background: #d9d9d9 !important;
}

// .bg-primary {
//     background: #d9d9d9 !important;
// }


small {
    font-size: 12px;
}


// buttons
.btn-bg-white {
    background:$white;
}

.btn {
    color: $btn-text-color !important;
}

.alert-info {
    color: $lert-text-color !important;
}

// .btn-rounded {
//     padding: 0.7rem;
//     border-radius: 2rem;
//     width: 100%;
// }

//End buttons