// primary
$C2945C:#004C97;
$C299C: #00A3E0;

//Secondary
$gray2C: #D0D0CE;
$blackc: #2D2926;
$C431C:  #5B6770;
$C1225C: #FFC845;

$white: white;

//Bootstrap
$primary: $C2945C;
$info: $C299C;

$alert-bg-scale: 0;
$alert-color-scale:0;

$lert-text-color: $white;
$bg-body: $gray2C;

//sidebar
$color-text-sidebar: $C431C;
$bg-active-sidebar: $info;
$color-text-active-sidebar: $white;


//Cards
$card-cap-bg: $primary;
$card-cap-color: $white;
$btn-text-color: $white;