<div class="row g-0 login-content">
    <div class="col-12">
        <div class="d-flex justify-content-center align-items-center login">
            <div class="w-100 login-form">
                <div class="card">
                    <div class="card-header py-2">
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="m-0 fs-5">Resgistro</p>
                            <button
                                class="p-button-rounded p-button-secondary p-button-text text-white"
                                pButton pRipple
                                (click)="cancel()"
                                type="button"
                                icon="pi pi-times"
                            ></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">
                                <label>Tipo Documento</label>
                                <p-dropdown [options]="documento" [(ngModel)]="selectedDocument" optionLabel="name"></p-dropdown>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <label>Numero Documento</label>
                                <input type="text" class="p-inputtext-sm" placeholder="Numero Documento" pInputText />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">
                                <label>Nombre Completo</label>
                                <input type="text" class="p-inputtext-sm" placeholder="Nombre Completo" pInputText />
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <label>Correo</label>
                                <input type="text" class="p-inputtext-sm" placeholder="Correo" pInputText />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">
                                <label>Contraseña</label>
                                <input type="text" class="p-inputtext-sm" placeholder="Contraseña" pInputText />
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <label>Confirmar Contraseña</label>
                                <input type="text" class="p-inputtext-sm" placeholder="Numero Documento" pInputText />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">
                                <label>Tipo de Usuario</label>
                                <p-dropdown [options]="documento" [(ngModel)]="selectedDocument" optionLabel="name"></p-dropdown>
                            </div>  
                        </div> 
                        <div class="d-flex justify-content-center mb-3 mt-3">
                            <button class="btn btn-info me-2" type="button" (click)="cancel()">Cancelar</button>
                            <button class="btn btn-primary" type="button">Registrarme</button>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
