<div class="row g-0 login-content">
    <div class="col-12 col-sm-12 col-lg-6 d-none d-lg-block">
        IMG
    </div>
    <div class="col-12 col-sm-12 col-lg-6">
        <div class="d-flex justify-content-center align-items-center bg-white login">
            <div class="w-100 login-form">
                <div class="d-flex  justify-content-center mb-4">
                    <button pButton pRipple type="button" label="LOGO" class="p-button-secondary"></button>
                </div>

                <h3 class="fw-bold mb-5">Nueva Contraseña</h3>

                <div class="mb-4">
                    <input type="password" class="p-inputtext-sm" placeholder="Ingresar contraseña" pInputText />
                </div>
                <div class="mb-4">
                    <input type="password" class="p-inputtext-sm" placeholder="Confirmar nueva contrasena" pInputText />
                </div>

                <div class="d-flex justify-content-center mb-5 mt-3">
                    <button class="btn btn-info btn-rounded me-2" (click)="cancel()" type="button">Cancelar</button>
                    <button class="btn btn-primary btn-rounded" type="button">Registrarme</button>
                </div>

                <p class="text-center text-muted">
                    <i class="pi pi-lock me-2"></i>Olvidaste tu contraseña
                </p>
            </div>
        </div>
    </div>
</div>