<div class="row g-0 login-content">
    <div class="col-12 col-sm-12 col-lg-6 d-none d-lg-block">
        IMG
    </div>
    <div class="col-12 col-sm-12 col-lg-6">
        <div class="d-flex justify-content-center align-items-center bg-white login">
            <div class="w-100 login-form">
                <div class="d-flex  justify-content-center mb-4">
                    <button pButton pRipple type="button" label="LOGO" class="p-button-secondary"></button>
                </div>

                <h3 class="fw-bold mb-3">Restablecer Contraseña</h3>

                <div class="mb-4">
                    <label>Cambiar Contraseña</label>

                    <div class="alert alert-info border-0" role="alert">
                        Ingresa tu correo y te enviaremos un enlace para cambiar tu contraseña.
                    </div>

                </div>
                <div class="mb-4">
                    <input type="email" class="p-inputtext-sm" placeholder="Correo" pInputText />
                </div>

                <div class="d-flex justify-content-center mb-5">
                    <button
                        class="btn btn-primary btn-rounded"
                        label="Ingresar"
                        (click)="sendEmail()"
                        type="button">Enviar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>