<div class="card">
  <div class="card-body">
      <div class="row mt-3">
          <div class="col-12 col-md-4 col-lg-2 mb-3">
              <label>Roles</label>
              <input type="text" class="p-inputtext-sm" placeholder="Tipo Documento" pInputText />
          </div>
          <div class="col-12 col-md-4 col-lg-2 mb-3">
              <label>N° de documento</label>
              <input type="text" class="p-inputtext-sm" placeholder="Numero Documento" pInputText />
          </div>
          <div class="col-12 col-md-4 col-lg-2 mb-3">
              <label>Nombre de la empresa</label>
              <input type="text" class="p-inputtext-sm" placeholder="Numero Documento" pInputText />
          </div>
          <div class="col-12 col-md-4 col-lg-2 mb-3">
              <label>Ubigeo</label>
              <input type="text" class="p-inputtext-sm" placeholder="Numero Documento" pInputText />
          </div>
          <div class="col-12 col-md-8 col-lg-4 mb-3">
              <div class="d-flex justify-content-end align-items-center h-100">
                  <button class="btn btn-info me-2">
                      <i class="bi bi-search"></i> Buscar
                  </button>
                  <button class="btn btn-primary">
                      <i class="bi bi-arrow-counterclockwise"></i>Limpiar
                  </button>
              </div>
          </div>
      </div>

  </div>
  <div class="card">
    <p-table [value]="customers" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [tableStyle]="{'min-width': '50rem'}"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header" class="table-dark">
            <tr>
                <th style="width:25%">Tipo Documento</th>
                <th style="width:25%">N° Documento</th>
                <th style="width:25%">Nombre Empresa</th>
                <th style="width:25%">Correo</th>
                <th style="width:25%">Celular</th>
                <th style="width:25%">Dirección</th>
                <th style="width:25%">Ubigeo</th>
                <th style="width:25%">Roles</th>
                <th style="width:25%">Opciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
              <tr>
                <td>{{customer.fecha}}</td>
                <td>{{customer.monto}}</td>
                <td>{{customer.placa}}</td>
                <td>{{customer.empresa}}</td>
                <td>{{customer.ruta}}</td>
                <td>{{customer.ubicacion}}</td>
                <td>{{customer.origen}}</td>
                <td>{{customer.origen}}</td>
                <td>{{customer.origen}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>
</div>
