<p-sidebar [(visible)]="display" [modal]="false" [showCloseIcon]="false" [transitionOptions]="'0.3s'">
 <ng-template pTemplate="header">
    <div class="logo d-flex justify-content-center align-items-center w-100">
        <img src="assets/images/logo.svg" alt="Logo ATU">
    </div>
 </ng-template>

    <div class="aside d-flex flex-column">
        <div class="d-flex flex-column align-items-start justify-content-center flex-fill">

            <!-- <p-menu styleClass="" [model]="menu"></p-menu> -->

            <!-- <p-listbox [options]="menu" [(ngModel)]="selectedCity" optionLabel="label" [style]="{'width':'15rem'}"></p-listbox> -->


            <ul p-menu>
                <li class="active">
                    <i class="pi pi-user"></i>
                    Usuario Plataforma
                </li>
                <li class="c-pointer" *ngFor="let item of menu" (click)="redirect(item)">
                    <i [class]="item.icon"></i>
                    {{item.label}}
                </li>
            </ul>
        </div>
    </div>


</p-sidebar>

<!-- <p-button type="text"  (click)="display = true" icon="pi pi-plus" label="Show"></p-button>
<p-calendar [(ngModel)]="value"></p-calendar> -->
