<p-sidebar styleClass="side-bar"
    [(visible)]="display"
    [modal]="modal"
    [showCloseIcon]="false"
    (onHide)="onHideSideBar()"
    (onShow)="onShowSideBar()"
    [transitionOptions]="'0.3s'">
    
 <ng-template pTemplate="header">
    <div class="logo d-flex justify-content-center align-items-center w-100">
        <img src="assets/images/logo.svg" alt="Logo ATU">
    </div>
 </ng-template>
    <div class="aside d-flex flex-column">
        <div class="d-flex flex-column align-items-start justify-content-center flex-fill">
            <!-- {{modal | async}} -->
            <ul p-menu>
                <li class="active">
                    <i class="pi pi-user"></i>
                    Usuario Plataforma
                </li>
                <li class="c-pointer" *ngFor="let item of menu" (click)="redirect(item)">
                    <i [class]="item.icon"></i>
                    {{item.label}}
                </li>
            </ul>
        </div>
    </div>
</p-sidebar>
