<div class="row mt-3">
    <div class="col-12 col-md-6 mb-3">
        <label>Tipo Documento</label>
        <input type="text" class="p-inputtext-sm" placeholder="Tipo Documento" pInputText />
    </div>
    <div class="col-12 col-md-6 mb-3">
        <label>Numero Documento</label>
        <input type="text" class="p-inputtext-sm" placeholder="Numero Documento" pInputText />
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6 mb-3">
        <label>Nombre  de la Empresa</label>
        <input type="text" class="p-inputtext-sm" placeholder="Nombre  de la Empresa" pInputText />
    </div>
    <div class="col-12 col-md-6 mb-3">
        <label>Correo</label>
        <input type="text" class="p-inputtext-sm" placeholder="Correo" pInputText />
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6 mb-3">
        <label>Celular</label>
        <input type="text" class="p-inputtext-sm" placeholder="Celular" pInputText />
    </div>
    <div class="col-12 col-md-6 mb-3">
        <label>Contraseña</label>
        <input type="text" class="p-inputtext-sm" placeholder="Contraseña" pInputText />
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6 mb-3">
        <label>Roles</label>
        <input type="text" class="p-inputtext-sm" placeholder="Roles" pInputText />
    </div>
    <div class="col-12 col-md-6 mb-3">
        <label>Dirección</label>
        <input type="text" class="p-inputtext-sm" placeholder="Dirección" pInputText />
    </div>
</div>
<div class="row">
    <div class="col-12 mb-3">
        <label>Ubigeo</label>
    </div>
    <div class="col-12 col-md-6 mb-3">
        <label>Departamento</label>
        <p-dropdown
            [options]="departamentos"
            [(ngModel)]="selectedDepartamento"
            (onChange)="listProvincias(selectedDepartamento)"
            optionLabel="departamento">
        </p-dropdown>
    </div>
    <div class="col-12 col-md-6 mb-3">
        <label>Provincia</label>
        <p-dropdown
            [options]="provincias"
            [(ngModel)]="selectedProvincia"
            (onChange)="listDistritos(selectedProvincia)"
            optionLabel="provincia">
        </p-dropdown>
    </div>
    <div class="col-12 col-md-6 mb-3">
        <label>Distrito</label>
        <p-dropdown
            [options]="distritos"
            [(ngModel)]="selectedDistrito"
            appendTo="body"
            optionLabel="distrito">
        </p-dropdown>
    </div>
    <div class="col-12 col-md-6 mb-3">
        <label>Periodo de Validez</label>
        <input type="text" class="p-inputtext-sm" placeholder="Periodo de Validez" pInputText />
    </div>
</div>
<div class="d-flex justify-content-center mb-3 mt-3">
    <button class="btn btn-info me-2" type="button">Cancelar</button>
    <button class="btn btn-primary" type="button">Registrarme</button>
</div>